body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(235,235,235);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color:black;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3vh;
}
header *{
    padding-right: 1vw;
    margin-right: 1vw;
    border-right: 1px black solid;
}
header img{
    padding-right: 0px;
    width: 8vw;
    height: auto;
}
header h1{
    font-weight: 100;
    font-size: 50px;
    margin-right: 25px;
}
header a{
    font-size: 40px;
}

#links{
    margin-left: auto;
}

a:link{
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
}

a:hover{
    color: rgb(80,80,80);
    text-decoration: underline;
}

footer{
    margin:0px;
    padding: 0px;
    width:100%;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    background-color: rgba(200,200,200,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    font-size: 3vh;
}

#content{
    min-height: 59.5vh;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 6vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    display: block;
    overflow:auto;
    font-size: 30px;
}

#content > div {
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  
  #content h3 {
    margin-left: 2.5vw;
    font-weight: normal;
    border-bottom: 1px black solid;
    padding-bottom: 1vh;
    display: inline;
    margin-bottom: 2vh;
  }