body{
    font-family: cursive;
    background-color: #fff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color:black;
    background-image: url("./frog.gif");
    /* background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    ); */
}


@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}

@-webkit-keyframes spin2 {
    0%  {-webkit-transform: rotate(-30deg);}
    50% {-webkit-transform: rotate(30deg);}
    100% {-webkit-transform: rotate(-30deg);}   
}

#content > *:hover {
    -webkit-animation: spin .5s infinite linear;
}

@-webkit-keyframes size {
    0% {-webkit-transform: scale(.5, .5)}
    50% {-webkit-transform: scale(1, 1); -webkit-transform: translateX(100);}
    100% {-webkit-transform: scale(.5, .5); -webkit-transform: translateX(-100);}
}

header {
    -webkit-animation: size 0.75s infinite linear;
}

.fire{
    width: 25vw;
    height: auto;
    -webkit-animation: spin2 .5s infinite linear;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 2vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 3vh;
}
header *{
    padding-right: 1vw;
    margin-right: 1vw;
    border-right: 1px black solid;
}
header img{
    padding-right: 0px;
    width: 8vw;
    height: auto;
}
header h1{
    font-weight: 100;
    font-size: 50px;
    margin-right: 25px;
}
header a{
    font-size: 40px;
}

#links{
    margin-left: auto;
}

a:link{
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
}

a:hover{
    color: rgb(80,80,80);
    text-decoration: underline;
}

footer{
    margin:0px;
    padding: 0px;
    width:100%;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    /* background-color: rgba(200,200,200,0.4); */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    font-size: 3vh;
}

#content{
    min-height: 59.5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 6vh;
    margin-bottom: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    display: block;
    overflow:auto;
    font-size: 30px;
}

#content > div {
    background-color: white;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
  
  #content h3 {
    margin-left: 2.5vw;
    font-weight: normal;
    border-bottom: 1px black solid;
    padding-bottom: 1vh;
    display: inline;
    margin-bottom: 2vh;
  }

  #DVD {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  #DVD > * {
    pointer-events: none;
    position: absolute;
    width: 15%;
  }