RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://confluxes.net/.*$ [NC]
RewriteRule \.(gif|jpg|jpeg|mp3|png|pdf|zip)$ - [F]