@import "tailwindcss";
:root{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: 'Times New Roman', Times, serif;
}
.animateLink{
  margin-right: 4em;
  background: 
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1));
  background-size: 0% 10%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size .5s;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  border-bottom: solid black 1px;
}
a:hover{
  background-size: 100% 10%;
}

.bgblur{
  background-color: rgba(0,0,0,0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
